---
const { length, currentUrl, currentPage, firstUrl, prevUrl, nextUrl, lastUrl } =
    Astro.props;
const paginationList = Array.from({ length }, (_, i) => i + 1);
---

<nav aria-label="Blog Pages" class="pagination pagination-default">
    {
        firstUrl == currentUrl ? (
            <span class="pagination__link disabled">
                <i class="pi-angle-left doubled" />
                <i class="pi-angle-left" />
            </span>
        ) : (
            <a href={firstUrl} class="pagination__link">
                <i class="pi-angle-left doubled" />
                <i class="pi-angle-left" />
            </a>
        )
    }

    {
        prevUrl ? (
            <a href={prevUrl} class="pagination__link">
                <i class="pi-angle-left" />
            </a>
        ) : (
            <span class="pagination__link disabled">
                <i class="pi-angle-left" />
            </span>
        )
    }

    {
        paginationList.map((num) => (
            <a
                href={`${firstUrl}${num == 1 ? "" : "/" + num}`}
                class={`pagination__link ${
                    currentPage == num ? "disabled active" : ""
                }`}
            >
                {num}
            </a>
        ))
    }

    {
        !nextUrl ? (
            <span class="pagination__link disabled">
                <i class="pi-angle-right" />
            </span>
        ) : (
            <a href={nextUrl} class="pagination__link">
                <i class="pi-angle-right" />
            </a>
        )
    }

    {
        lastUrl == currentUrl ? (
            <span class="pagination__link disabled">
                <i class="pi-angle-right" />
                <i class="pi-angle-right doubled" />
            </span>
        ) : (
            <a href={lastUrl} class="pagination__link">
                <i class="pi-angle-right" />
                <i class="pi-angle-right doubled" />
            </a>
        )
    }
</nav>

<style>
    i.pi-angle-left.doubled {
        margin-right: -15px;
    }
    i.pi-angle-left {
        width: 20px;
        height: 20px;
        background-image: url("/arrow-left.svg");
        background-size: cover;
        display: inline-block;
    }
    i.pi-angle-right {
        width: 20px;
        height: 20px;
        background-image: url("/arrow-right.svg");
        background-size: cover;
        display: inline-block;
    }
    i.pi-angle-right.doubled {
        margin-left: -15px;
    }
    .pagination {
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: row;
        gap: 5px;
    }
</style>
