---
import { type CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

const { post } = Astro.props as { post: CollectionEntry<'blog'> };
const { title, publishDate, updatedDate, featureImage, excerpt } = post.data;
---

<article class="mb-12 sm:mb-16 bg-white dark:bg-black rounded-2xl shadow-lg border border-[#FFD43B] dark:border-[#FFD43B]">
    <header class="max-w-3xl mx-auto pt-8 px-6">
        <div class="mb-2 text-sm uppercase tracking-wider text-[#8a7c2f] dark:text-[#FFD43B] sm:mb-3 flex items-center gap-2">
            <span class="font-bold text-[#FFD43B] dark:text-[#FFD43B]">Featured</span>
            <span class="text-[#181A2A] dark:text-[#FFD43B]">/</span>
            <FormattedDate date={publishDate} />
            {
                updatedDate && (
                    <span class="ml-2 text-xs text-[#181A2A] dark:text-[#FFD43B] bg-[#FFD43B]/10 dark:bg-[#181A2A]/20 px-2 py-1 rounded-full">(Actualizado <FormattedDate date={updatedDate} />)</span>
                )
            }
        </div>
        <h2 class="text-3xl font-bold text-[#181A2A] dark:text-[#FFD43B] sm:text-4xl md:text-5xl transition-colors">
            <a href={`/blog/${post.slug}/`} class="hover:text-[#FFD43B] dark:hover:text-white">{title}</a>
        </h2>
    </header>
    {
        featureImage?.src && (
            <figure class="max-w-6xl mx-auto my-6 sm:my-8 px-6">
                <a href={`/blog/${post.slug}/`}>
                    <img class="w-full rounded-xl border-0 border-[#FFD43B] dark:border-[#FFD43B] shadow-md" src={featureImage.src} loading="lazy" decoding="async" alt={featureImage.alt || ''} />
                </a>
            </figure>
        )
    }
    {
        excerpt && (
            <div class="max-w-3xl mx-auto mt-6 px-6">
                <div class="prose prose-slate sm:prose-lg max-w-none text-[#181A2A] dark:text-white">{excerpt}</div>
            </div>
        )
    }
    <div class="max-w-3xl mx-auto mt-8 px-6 pb-8">
        <a
            class="inline-flex justify-center items-center gap-1.5 bg-[#FFD43B] text-[#181A2A] px-8 py-2.5 font-semibold rounded-full transition duration-300 hover:bg-[#181A2A] hover:text-[#FFD43B] dark:bg-[#FFD43B] dark:text-[#181A2A] dark:hover:bg-white dark:hover:text-[#181A2A] border border-[#FFD43B] dark:border-[#FFD43B] shadow-button"
            href={`/blog/${post.slug}/`}
        >
            Sigue Leyendo
        </a>
    </div>
</article>
