---
import Link from "./Link.astro";
const linkcolor = "black";
const linkhover = "purple";
---

<style>
    nav {
        display: grid;
        grid-auto-flow: column;
        gap: 0.5rem;
        align-content: center;
        justify-content: end;
        align-items: center;
    }
</style>

<nav class="header-navbar">
    <Link url="/" text="Inicio" color={linkcolor} hover={linkhover} /> |
    <Link url="/about/" text="Sobre mi" color={linkcolor} hover={linkhover} /> |
    <Link url="/blog/" text="Blog" color={linkcolor} hover={linkhover}/>
</nav>
