---
import siteConfig from '../data/site-config.ts';
const subscribe = siteConfig.subscribe;

import '@dmuy/toast/dist/mdtoast.css';

const { class: className } = Astro.props;
---

<style>
    form{
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
</style>

{
    (subscribe?.title || subscribe?.text || subscribe?.formUrl) && (
        <section class={className}>
            <div class="w-full max-w-3xl mx-auto px-4 py-8 flex flex-col items-center bg-slate-50 border border-slate-200 rounded-md text-center sm:px-12 sm:py-14">
                {subscribe?.title && <h2 class="max-w-xl text-2xl font-bold text-slate-900 sm:text-3xl">{subscribe?.title}</h2>}
                {subscribe?.text && <p class:list={['max-w-xl text-slate-700 sm:text-lg', { 'mt-4': subscribe?.title }]}>{subscribe?.text}</p>}
                {subscribe?.formUrl && (
                    <form
                        action={subscribe?.formUrl}
                        method="post"
                        id="mc-embedded-subscribe-form"
                        name="mc-embedded-subscribe-form"
                        class:list={['w-full max-w-xl flex flex-col gap-2.5', { 'mt-7': subscribe?.title || subscribe?.text }]}
                    >
                    <div class="w-full flex flex-wrap sm:flex-nowrap gap-2">
                        <label for="mce-EMAIL" class="sr-only">
                            Email Address
                        </label>
                        <input
                            type="email"
                            name="email"
                            id="mce-EMAIL"
                            class="w-full sm:w-10/12 h-11 px-5 py-2 text-slate-700 bg-white border border-slate-200 rounded-full placeholder:text-slate-500 focus:outline-none"
                            required=""
                            value=""
                            placeholder="email"
                        />
                        <button
                            type="submit"
                            name="subscribe"
                            id="mc-embedded-subscribe"
                            class="w-full sm:w-auto px-8 py-2.5 inline-flex gap-1.5 justify-center items-center font-semibold bg-primary text-white rounded-full transition duration-300 hover:shadow-button"
                        >
                        {subscribe?.textBtn}
                        </button>
                    </div>
                    <div class="w-full">
                        <input type="checkbox" name="gdpr" aria-labelledby="gdpr-label" class="border-0" value="1" required="">
                        <span class="mx-1">Acepto recibir comunicaciones (puedes darte de baja en cualquier momento)</span>
                    </div>
                    <div id="captcha"></div>
                    </form>
                )}
            </div>
        </section>
    )
}


<script>
    import mdtoast from '@dmuy/toast';
    const form: HTMLFormElement | null = document.querySelector('#mc-embedded-subscribe-form');
    const email = form?.querySelector('input[name="email"]');

    form?.addEventListener('submit', function (event) {
        event.preventDefault();
        event.stopPropagation();
        signUp();
    });

    function signUp() {
        console.log("registered to newsletter",email?.value);
        if (!form?.checkValidity()) {
            mdtoast.error(form?.validationMessage, {duration: 5000, position: 'bottom right'});
            // return;
        } else {
            fetch('https://api.sendgrid.com/v3/marketing/contacts', {
                method: 'PUT',
                headers: {
                    Authorization: 'Bearer ' + import.meta.env.PUBLIC_SENDGRID_KEY,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    list_ids: [import.meta.env.PUBLIC_SENDGRID_LIST],
                    contacts: [
                        {
                            email: email?.value,
                            custom_fields: {
                                e1_T: 'true'
                            }
                        }
                    ]
                })
            })
                .then((response) => response.json())
                .then((response) => {
                    if (response.job_id) {
                        mdtoast.success('Ahora estarás actualizado!!!', {duration: 5000, position: 'bottom right'});
                    } else {
                        mdtoast.error('Ops!! Algo ha ido mal, intenta mas tarde.', {duration: 5000, position: 'bottom right'});
                    }
                })
                .catch((error) => {
                    console.error(error.status, error.statusText);
                    mdtoast.error('Ops!! Algo ha ido mal, intenta mas tarde.', {duration: 5000, position: 'bottom right'});
                });
            form?.reset();
        }
    }
    window.renderCaptcha = function () {
        console.debug('captcha rendered');
        turnstile.render('#captcha', {
        sitekey: import.meta.env.PUBLIC_CAPTCHA,
        theme: 'light',
    });
    }
    document.addEventListener('astro:page-load', () => {
        renderCaptcha();
    })

</script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=renderCaptcha" async defer></script>
