---
import BaseLayout from "./Layout.astro";
import RelatedPostThumb from "../components/RelatedPostThumb.astro";
const { post } = Astro.props;
---

<BaseLayout pageTitle={post.data.title}>
    <div slot="content">
        <article>
            <p class="author">Autor: {post.data.author}</p>
            <p class="date">
                Fecha de publicación: {
                    new Date(post.data.pubDate).toDateString()
                }
            </p>
            <p class="description">
                Resumen: <em>{post.data.description}</em>
            </p>
            <img
                src={post.data.image.url}
                alt={post.data.image.alt}
                width="50%"
                height="auto"
            />

            <slot />
        </article>
    </div>
    <div slot="sidebar">Related Posts:
        <RelatedPostThumb slug={post.slug} tags={post.data.tags}/>
    </div>
</BaseLayout>
